#range {
  /* -webkit-appearance: none; */
  margin: 18px 0;
  width: 80%;
}

#range::-webkit-slider-runnable-track {
  cursor: pointer;
  animate: .2s;
}

#timeline {
  display: flex;
  width: 80%;
  height: 15px;
  border: solid gold 2px;
  margin: 5px 0 ;
}


.uvtDiv {
  height: 15px;
  background-color: blue;
}

.noViewDiv {
  height: 15px;
  background-color: green;
}
