body {
  text-align: center;
}

.sliderWrapper {
  display: none;
}

#range {
  height: 5px;
  margin: 18px 0;
  width: 80%;
}

#range::-webkit-slider-runnable-track {
  cursor: pointer;
  animate: .2s;
}

#timeline {
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  width: 80%;
  height: 15px;
  border: solid grey 2px;
  border-radius: 5px;
}


.uvtDiv {
  height: 15px;
  background-color: blue;
}

.noViewDiv {
  height: 15px;
  background-color: green;
}
