@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  text-align: center;
  font-family: 'Montserrat';
}

.sliderWrapper {
  display: none;
}

#range {
  height: 5px;
  margin: 18px 0;
  width: 80%;
}

#range::-webkit-slider-runnable-track {
  cursor: pointer;
  animate: .2s;
}

#timeline {
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  width: 80%;
  height: 15px;
  border: solid grey 2px;
  background-color: green;
  border-radius: 5px;
}

#timeLabels {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: 0 auto;
}
.uvtDiv {
  height: 15px;
  background-color: blue;
}

.noViewDiv {
  height: 15px;
  background-color: green;
}

input[type=text] {
  border-radius: 5px;
}

button:hover, input[type=submit]:hover {
  background-color: rgb(45, 130, 163);
  border-radius: 5px;
}
